
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
/* ///////////////////////////////// */ 
/* show users */ 
/* ///////////////////////////////// */ 
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-width: 100%;
    max-height: 100%;
    margin: 10px 50px;
}
.chat,.messages{
    width: 45%;
   
}
.chat{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 600px;
}

.people,.groups{
    margin: 10px 50px;
    max-width:80% ;
    height:230px ;
    align-self: flex-start;
    overflow-y:auto;
}
.head{
    margin-left: 50px;
    align-self: flex-start;
}
.create-grp{
    align-self: flex-end;
}

/* ///////////////////////////////// */ 
/* show chats of one-one users */ 
/* ///////////////////////////////// */ 

.messages{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 ;
    height: 600px;
}
.msg-head{
    align-self: center;
}
.display-msg{
    background-color:burlywood;
    max-height: 500px;
}
.messages > div >h2{
    font-family: 'Roboto', sans-serif;
}
.submit-btn{
    display: flex;
    align-self: center;
    width :400px;
    padding: 5px;
    border: 1px solid green;
    border-radius: 18px;
}

input{
    border: none;
    width: 320px;
    height: 40px;
}
input:focus{
    outline: none;
}
button{
    border: none;
    width: 50px;
    height: 40px;
}

/* ///////////////////////////////// */ 
/* messages of one-one users */ 
/* ///////////////////////////////// */ 

#messages-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#messages-table td, #messages-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#messages-table tr:nth-child(even){background-color: #f2f2f2;}


#messages-table tr:hover {background-color: #ddd;}

#messages-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

/* ///////////////////////////////// */ 
/* hidden section of create group */ 
/* ///////////////////////////////// */ 

#container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    font-family: inherit;
}

#container.active{
    display: flex;
}

.pop-up{
    position: relative;
    background-color: white;
    font-size: small;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 2rem;
    width: 400px;
    height: 500px;
    /* margin: 50px; */
}
.add-people{
font-size: 2rem;
list-style-type: none;
}
.add-people > li{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.add-people > li > input{
    width: 20px;
    height: 20px;
}
.pop-up .close,.pop-up .create{
    background-color: white;
    color: black;
    font-size: 1.0rem;
    position: absolute;
    right: 10px;
}

.pop-up .close{
    top: 10px;
}
.pop-up .create{
    bottom: 10px;
}

/* ///////////////////////////////// */ 
/* hdden section show group */ 
/* ///////////////////////////////// */ 

#grp-msg-container{
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    font-family: inherit;
    flex-direction: column;
}

#grp-msg-container.active{
    display: flex;
}

/* ///////////////////////////////// */ 
/* hdden section change admin */ 
/* ///////////////////////////////// */ 

#chg-admin-conatiner{
    display: none;
    position: fixed;
    top: 50px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    font-family: inherit;
    flex-direction: column;
}

#chg-admin-conatiner.active{
    display: flex;
}


.pop-up-grp-admin{
    position: relative;
    background-color: white;
    font-size: small;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 2rem;
    width: 300px;
    height: 400px;
    /* margin: 50px; */
}
.pop-up-grp-admin .close,.pop-up .create{
    background-color: white;
    color: black;
    font-size: 1.0rem;
    position: absolute;
    right: 10px;
}

.pop-up-grp-admin .close{
    top: 10px;
}
.pop-up-grp-admin .create{
    bottom: 10px;
}

button{
    border: none;
    width: 70px;
    height: 40px;
}


#remove-user-conatiner{
    display: none;
    position: fixed;
    top: 50px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    font-family: inherit;
    flex-direction: column;
}

#remove-user-conatiner.active{
    display: flex;
}


.pop-up-grp-admin{
    position: relative;
    background-color: white;
    font-size: small;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 2rem;
    width: 300px;
    height: 400px;
    /* margin: 50px; */
}
.pop-up-grp-admin .close,.pop-up .create{
    background-color: white;
    color: black;
    font-size: 1.0rem;
    position: absolute;
    right: 10px;
}

.pop-up-grp-admin .close{
    top: 10px;
}
.pop-up-grp-admin .create{
    bottom: 10px;
}

button{
    border: none;
    width: 70px;
    height: 40px;
}